In [1]:
%load_ext autoreload
%autoreload 2

# example

In [2]:
from cyano.pipeline import CyanoModelPipeline
from cyano.config import FeaturesConfig, ModelTrainingConfig

### training

In [3]:
pipeline = CyanoModelPipeline(features_config=FeaturesConfig(), model_training_config=ModelTrainingConfig())
pipeline.run_training("../tests/assets/train_data.csv", save_path="/tmp/model.zip")

2023-08-02 19:17:39.702 | INFO     | cyano.pipeline:_prep_train_data:50 - Loaded 5 samples for training
2023-08-02 19:17:39.704 | INFO     | cyano.data.satellite_data:identify_satellite_data:174 - Searching ['sentinel-2-l2a'] within 30 days and 1000 meters
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  2.81it/s]
2023-08-02 19:17:41.491 | INFO     | cyano.data.satellite_data:identify_satellite_data:205 - 3 samples did not return any satellite imagery results
2023-08-02 19:17:41.498 | INFO     | cyano.pipeline:_prepare_features:68 - 15 rows of satellite metadata saved to /tmp/tmpcdkpvu41/satellite_metadata_train.csv
2023-08-02 19:17:41.500 | INFO     | cyano.data.satellite_data:download_satellite_data:228 - Downloading bands ['B02', 'B03', 'B04']
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:06<00:00,  3.21s/it]
2023-08-02 19:17:47.918 | SUCCESS  | cyano.pipeline:_prepare_features:80 - Raw source data saved to /tmp/tmpcdkpvu41
2023-08-02 19:17:47.921 | INFO     | cyano.data.features:generate_satellite_features:49 - Generating features for 5 samples
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 1460.41it/s]
2023-08-02 19:17:47.935 | INFO     | cyano.data.features:generate_satellite_features:84 - Filling missing satellite values for 3 samples
2023-08-02 19:17:47.941 | INFO     | cyano.data.features:generate_features:173 - Generated 7 satellite features
2023-08-02 19:17:47.944 | SUCCESS  | cyano.pipeline:_prepare_features:86 - 7 features for 5 samples saved to /tmp/tmpcdkpvu41/features_train.csv
2023-08-02 19:17:47.979 | INFO     | cyano.pipeline:_to_disk:110 - Saving model to /tmp/model.zip

### predicting

In [4]:
p = CyanoModelPipeline.from_disk("/tmp/model.zip")

In [5]:
p.features_config

FeaturesConfig(pc_collections=['sentinel-2-l2a'], pc_days_search_window=30, pc_meters_search_window=1000, use_sentinel_bands=['B02', 'B03', 'B04'], image_feature_meter_window=500, satellite_features=['B02_mean', 'B02_min', 'B02_max', 'B03_mean', 'B03_min', 'B03_max', 'B04_mean'], climate_features=[], elevation_features=[], metadata_features=[])

In [6]:
p.run_prediction("../tests/assets/predict_data.csv", preds_path="/tmp/preds.csv")

2023-08-02 19:17:48.146 | INFO     | cyano.pipeline:_prep_predict_data:136 - Loaded 5 samples for prediction
2023-08-02 19:17:48.148 | INFO     | cyano.data.satellite_data:identify_satellite_data:174 - Searching ['sentinel-2-l2a'] within 30 days and 1000 meters
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.78it/s]
2023-08-02 19:17:49.199 | INFO     | cyano.data.satellite_data:identify_satellite_data:205 - 3 samples did not return any satellite imagery results
2023-08-02 19:17:49.206 | INFO     | cyano.pipeline:_prepare_features:66 - 15 rows of satellite metadata saved to /tmp/tmp2nhbn4vz/satellite_metadata_train.csv
2023-08-02 19:17:49.208 | INFO     | cyano.data.satellite_data:download_satellite_data:228 - Downloading bands ['B02', 'B03', 'B04']
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 10.08it/s]
2023-08-02 19:17:49.411 | SUCCESS  | cyano.pipeline:_prepare_features:78 - Raw source data saved to /tmp/tmp2nhbn4vz
2023-08-02 19:17:49.413 | INFO     | cyano.data.features:generate_satellite_features:49 - Generating features for 5 samples
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 2676.99it/s]
2023-08-02 19:17:49.422 | INFO     | cyano.data.features:generate_satellite_features:84 - Filling missing satellite values for 3 samples
2023-08-02 19:17:49.429 | INFO     | cyano.data.features:generate_features:173 - Generated 7 satellite features
2023-08-02 19:17:49.432 | SUCCESS  | cyano.pipeline:_prepare_features:84 - 7 features for 5 samples saved to /tmp/tmp2nhbn4vz/features_train.csv
2023-08-02 19:17:49.442 | SUCCESS  | cyano.pipeline:_write_predictions:153 - Predictions saved to /tmp/preds.csv

In [7]:
!cat /tmp/preds.csv

uid,date,latitude,longitude,predicted_severity
hwbw,2015-06-29,41.424144,-73.206937,2.2
amnr,2013-07-25,36.045,-79.0919415955354,2.2
donb,2017-08-21,35.8845244661109,-78.9539970867146,2.2
mfud,2019-08-28,41.39249,-75.3607,2.2
wryk,2013-07-11,38.3056,-122.026,2.2

In [8]:
p.samples

            date   latitude   longitude
uid
hwbw  2015-06-29  41.424144  -73.206937
amnr  2013-07-25  36.045000  -79.091942
donb  2017-08-21  35.884524  -78.953997
mfud  2019-08-28  41.392490  -75.360700
wryk  2013-07-11  38.305600 -122.026000

In [9]:
p.features

        B02_mean  B02_min  B02_max    B03_mean  B03_min  B03_max    B04_mean
uid
hwbw  290.260418    112.5   1934.0  458.530614    168.0   2158.0  347.846475
amnr  290.260418    112.5   1934.0  458.530614    168.0   2158.0  347.846475
donb  418.988123    175.0   2686.0  604.710812    267.0   2934.0  509.557734
mfud  161.532712     50.0   1182.0  312.350417     69.0   1382.0  186.135216
wryk  290.260418    112.5   1934.0  458.530614    168.0   2158.0  347.846475

In [10]:
p.preds

uid
hwbw    2.2
amnr    2.2
donb    2.2
mfud    2.2
wryk    2.2
Name: predicted_severity, dtype: float64

In [11]:
p.output_df

            date   latitude   longitude  predicted_severity
uid
hwbw  2015-06-29  41.424144  -73.206937                 2.2
amnr  2013-07-25  36.045000  -79.091942                 2.2
donb  2017-08-21  35.884524  -78.953997                 2.2
mfud  2019-08-28  41.392490  -75.360700                 2.2
wryk  2013-07-11  38.305600 -122.026000                 2.2