In [1]:
%load_ext autoreload
%autoreload 2

# example

In [2]:
from cyano.pipeline import CyanoModelPipeline
from cyano.config import FeaturesConfig, ModelTrainingConfig

### training

In [3]:
pipeline = CyanoModelPipeline(features_config=FeaturesConfig(), model_training_config=ModelTrainingConfig())
pipeline.run_training("../tests/assets/train_data.csv")

2023-08-02 16:46:49.641 | INFO     | cyano.pipeline:prep_train_data:58 - Loaded 5 samples for training
2023-08-02 16:46:49.643 | INFO     | cyano.data.satellite_data:identify_satellite_data:174 - Searching ['sentinel-2-l2a'] within 30 days and 1000 meters
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  2.62it/s]
2023-08-02 16:46:51.560 | INFO     | cyano.data.satellite_data:identify_satellite_data:205 - 3 samples did not return any satellite imagery results
2023-08-02 16:46:51.568 | INFO     | cyano.pipeline:prepare_features:88 - 15 rows of satellite metadata saved to /tmp/tmpsurxv52y/satellite_metadata_train.csv
2023-08-02 16:46:51.570 | INFO     | cyano.data.satellite_data:download_satellite_data:228 - Downloading bands ['B02', 'B03', 'B04']
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:06<00:00,  3.37s/it]
2023-08-02 16:46:58.313 | SUCCESS  | cyano.pipeline:prepare_features:100 - Raw source data saved to /tmp/tmpsurxv52y
2023-08-02 16:46:58.314 | INFO     | cyano.data.features:generate_satellite_features:49 - Generating features for 5 samples
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 1637.38it/s]
2023-08-02 16:46:58.328 | INFO     | cyano.data.features:generate_satellite_features:84 - Filling missing satellite values for 3 samples
2023-08-02 16:46:58.334 | INFO     | cyano.data.features:generate_features:173 - Generated 7 satellite features
2023-08-02 16:46:58.338 | SUCCESS  | cyano.pipeline:prepare_features:106 - 7 features for 5 samples saved to /tmp/tmpsurxv52y/features_train.csv
2023-08-02 16:46:58.375 | INFO     | cyano.pipeline:to_disk:130 - Saving model to model.zip

### predicting

In [4]:
p = CyanoModelPipeline.from_disk("model.zip")

In [5]:
p.features_config

FeaturesConfig(pc_collections=['sentinel-2-l2a'], pc_days_search_window=30, pc_meters_search_window=1000, use_sentinel_bands=['B02', 'B03', 'B04'], image_feature_meter_window=500, satellite_features=['B02_mean', 'B02_min', 'B02_max', 'B03_mean', 'B03_min', 'B03_max', 'B04_mean'], climate_features=[], elevation_features=[], metadata_features=[])

In [6]:
p.run_prediction("../tests/assets/predict_data.csv")

2023-08-02 16:46:58.498 | INFO     | cyano.pipeline:prep_predict_data:74 - Loaded 5 samples for prediction
2023-08-02 16:46:58.500 | INFO     | cyano.data.satellite_data:identify_satellite_data:174 - Searching ['sentinel-2-l2a'] within 30 days and 1000 meters
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.90it/s]
2023-08-02 16:46:59.525 | INFO     | cyano.data.satellite_data:identify_satellite_data:205 - 3 samples did not return any satellite imagery results
2023-08-02 16:46:59.532 | INFO     | cyano.pipeline:prepare_features:88 - 15 rows of satellite metadata saved to /tmp/tmpox1h7uag/satellite_metadata_train.csv
2023-08-02 16:46:59.534 | INFO     | cyano.data.satellite_data:download_satellite_data:228 - Downloading bands ['B02', 'B03', 'B04']
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 10.29it/s]
2023-08-02 16:46:59.733 | SUCCESS  | cyano.pipeline:prepare_features:100 - Raw source data saved to /tmp/tmpox1h7uag
2023-08-02 16:46:59.735 | INFO     | cyano.data.features:generate_satellite_features:49 - Generating features for 5 samples
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 2732.45it/s]
2023-08-02 16:46:59.746 | INFO     | cyano.data.features:generate_satellite_features:84 - Filling missing satellite values for 3 samples
2023-08-02 16:46:59.753 | INFO     | cyano.data.features:generate_features:173 - Generated 7 satellite features
2023-08-02 16:46:59.757 | SUCCESS  | cyano.pipeline:prepare_features:106 - 7 features for 5 samples saved to /tmp/tmpox1h7uag/features_train.csv
2023-08-02 16:46:59.764 | SUCCESS  | cyano.pipeline:write_predictions:162 - Predictions saved to preds.csv

In [7]:
!cat preds.csv

uid,date,latitude,longitude,predicted_severity
mxyv,2015-06-29,41.424144,-73.206937,2.2
hinb,2013-07-25,36.045,-79.0919415955354,2.2
wryk,2017-08-21,35.8845244661109,-78.9539970867146,2.2
amnr,2019-08-28,41.39249,-75.3607,2.2
hwbw,2013-07-11,38.3056,-122.026,2.2

In [8]:
p.samples

            date   latitude   longitude
uid
mxyv  2015-06-29  41.424144  -73.206937
hinb  2013-07-25  36.045000  -79.091942
wryk  2017-08-21  35.884524  -78.953997
amnr  2019-08-28  41.392490  -75.360700
hwbw  2013-07-11  38.305600 -122.026000

In [9]:
p.features

        B02_mean  B02_min  B02_max    B03_mean  B03_min  B03_max    B04_mean
uid
mxyv  290.260418    112.5   1934.0  458.530614    168.0   2158.0  347.846475
hinb  290.260418    112.5   1934.0  458.530614    168.0   2158.0  347.846475
wryk  418.988123    175.0   2686.0  604.710812    267.0   2934.0  509.557734
amnr  161.532712     50.0   1182.0  312.350417     69.0   1382.0  186.135216
hwbw  290.260418    112.5   1934.0  458.530614    168.0   2158.0  347.846475

In [10]:
p.preds

uid
mxyv    2.2
hinb    2.2
wryk    2.2
amnr    2.2
hwbw    2.2
Name: predicted_severity, dtype: float64

In [11]:
p.output_df

            date   latitude   longitude  predicted_severity
uid
mxyv  2015-06-29  41.424144  -73.206937                 2.2
hinb  2013-07-25  36.045000  -79.091942                 2.2
wryk  2017-08-21  35.884524  -78.953997                 2.2
amnr  2019-08-28  41.392490  -75.360700                 2.2
hwbw  2013-07-11  38.305600 -122.026000                 2.2

### experiment